/* =====Header CSS===== */
body {
  margin: 0;
}
#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fff;
  grid-gap: 1.5em;
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

.logo {
  display: grid;
  justify-content: start;
  align-content: center;
}

.logo img {
  width: 150px;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

#links a {
  text-decoration: none;
  color: #32695c;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: -2px 2px 2px 2px rgb(56, 56, 56);
}

#links a:hover {
  color: #32695c;
  text-decoration: underline;
}

#links a:nth-child(1) {
  color: #fff;
  background-color: #32695c;
}

#links a:nth-child(1):hover {
  color: #87ada5;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #32695c;
  overflow-x: hidden;
  transition: 0.5s;
  letter-spacing: 2px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  color: #fff;
  display: block;
  transition: 0.3s;
  padding-top: 25px;
}

.sidenav a:hover {
  color: #04265b;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: 'Roboto', sans-serif;
}

.sidenav img {
  width: 150px;
  margin-left: -18px;
}

.mobile-btn {
  font-size: 40px;
  cursor: pointer;
  margin-top: 80px;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 900px) {
  #links,
  .mobile-menu {
    display: none;
  }

  .logo {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
  }

  .logo .logo-img {
    text-align: center;
  }
}

/* Tablet to Desktop */
@media (min-width: 900px) {
  .mobile-btn {
    display: none;
  }

  header {
    background-color: #000;
  }
}

/* <=== Home Page ===> */

body {
}

.home-page-main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #87ada5;
  place-items: center;
}

.home-page-main .home-wrapper-right {
  display: grid;
  order: 1;
  border: #32695c 5px solid;
  border-radius: 5px;
  background-color: #fff;
  margin: 15px;
  box-shadow: -5px 5px 5px 2px rgb(56, 56, 56);
}

.home-page-main .home-wrapper-left {
  display: grid;
  order: 2;
  border: #32695c 5px solid;
  border-radius: 5px;
  background-color: #fff;
  margin: 15px;
  text-align: center;
  place-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: fit-content;
  max-height: fit-content;
  box-shadow: -5px 5px 5px 2px rgb(56, 56, 56);
}

.home-page-main h1 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.home-page-main h2 {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.home-page-main h3 {
  font-family: 'Shadows Into Light';
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -20px;
  margin-bottom: 40px;
  color: #32695c;
}

/* Facebook and Register Buttons */
.box-left .button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #32695c;
  margin: 0 0.6em 0.6em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #32695c;
  text-align: center;
  transition: all 0.2s;
  text-transform: uppercase;
}

.box-left .button1:hover {
  color: #fff;
  background-color: #32695c;
}

@media all and (max-width: 30em) {
  .box-left .button1 {
    display: block;
    margin: 0.4em auto;
  }
}

/* ~~~~~=====MEDIA QUERIES ======~~~~~*/

/*  =====++ Tablet ++===== */
@media (min-width: 600px) {
  body {
  }

  .box-left .button1 {
    width: 50%;
  }

  .home-page-main h3 {
    font-size: 26px;
  }
}

/* =====++ Desktop ++=====*/
@media (min-width: 900px) {
  body {
  }

  .home-page-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .home-page-main .home-wrapper-right {
    display: grid;
    order: 2;
    margin-right: 100px;
    place-content: center;
  }

  .home-page-main .home-wrapper-left {
    display: grid;
    order: 1;
    margin-left: 100px;
    min-width: 250px;
  }

  .home-page-main h1 {
    font-size: 24px;
  }

  .home-page-main h2 {
    font-size: 16px;
    max-width: 800px;
  }

  .home-page-main h3 {
    font-size: 26px;
  }

  .box-left .button1 {
    min-width: 225px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
